---
---
@import "materialize";
@import "fonts";
@import "reset";
@import "page";
@import "post";


body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     font-family: $font-open-sans;
     @extend .vgray, .lighten-1;
}

.main-tags p{
  @extend .reset;
  font-family: $font-lato;
}

.row .header{
  @extend .vgray, .darken-1;
  padding:0;
}

.left-col-wrapper{
  text-align:right;
  margin-top:60px;
  padding:0 10px;
}
.content-wrapper{
  margin-top:60px;
}

.header h1{
  font-family: $font-mukta-malar;
  font-weight:bold;
  margin:0 0 20px 0;
  padding:0;
}
.header.hide-on-med-and-up h1{
    font-size:5vw;
}
.header.hide-on-small-and-down h1{
    font-size:3vw;
}

.links{
  @extend .vgrey;
}

a:hover{
  color: map-get($vblue,"darken-1");
}

ol ul:not(.browser-default){
  padding-left:20px;
  display:list-item;
}

ol ul:not(.browswer-default)>li{
  list-style: lower-alpha;
}

div.post-content img{
  max-width:70%;
  max-height:70vh;
}

a.card-title:hover{
  color:map-get($vblue,"darken-1")

}
a.card-title{
  color:rgba(0,0,0,.8);
}

div.about-buttons a{
  background-color:map-get($vblue,"base")
}
div.about-buttons a:hover{
  color:#FFF;
  background-color:map-get($vblue,"darken-1")
}
