<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <h5>Michael Vaiana</h5>
      <p> Mathematics | Data Science | Coding</p>
    </div>
    <div class="col s12 m4">
      <h5>Connect</h5>
          <a href="https://www.github.com/vaiana"><img src="{{site.baseurl}}/assets/GitHub-Mark-64px.png" height="30px"></a>
          <a href="http://www.youtube.com/rootmath"><img src="{{site.baseurl}}/assets/yt_icon_rgb.png" height="30px"/></a>
          <a href="https://www.linkedin.com/in/mikevaiana"><img src="{{site.baseurl}}/assets/In-2C-34px-R.png" height="30px"/></a>

    </div>
  </div>
</div>
