<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ site.baseurl}}/assets/favicon.png" />

  <!-- MathBox -->
  <script src="{{site.baseurl}}/build/mathbox-bundle.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/build/mathbox.css">

  <!-- MathJax -->
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <!-- CSS  -->
  <!--
  <link href='{{ site.baseurl}}/css/materialize.min.css' rel='stylesheet'>
  <link href='{{ site.baseurl}}/css/tweaks.css' rel='stylesheet'>
-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='{{ site.baseurl}}/css/main.css' rel='stylesheet'>
  <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <!-- Collect Site Tags -->
  {% if site.tags != "" %}
    {% include collect-tags.html %}
  {% endif %}

</head>
