<nav class="nav-color">
    <div class="nav-wrapper container">
      <a href="{{site.url}}" class="brand-logo hide-on-small-and-down"><img src="{{ site.baseurl}}/assets/logo-blue-100.png" height="28px" style="vertical-align:middle;margin:0 5px 5px 0;"/>Michael Vaiana</a>
      <a href="{{site.url}}" class="brand-logo hide-on-med-and-up"><img src="{{ site.baseurl}}/assets/logo-blue-100.png" height="28px" style="vertical-align:middle;margin:0 5px 5px 0;"/></a>


      <a href="#" data-activates="slide-out" class="right menu-click"><i class="large material-icons" style="font-size:2.5em">menu</i></a>


      <!-- <ul class="right">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul> -->
      <!--
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Blog</a></li>
        <li><a href="badges.html">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>-->


  <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{site.baseurl}}/assets/turtle-green-2.jpg">
      </div>
      <img class="circle" src="{{site.baseurl}}/assets/mike-vaiana-blackboard.png">
      <a href="#!name"><span class="white-text name">Mike Vaiana</span></a>
      <a href="#!email"><span class="white-text email">mvaiana@buffalo.edu</span></a>
    </li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">weekend</i>Blog</a></li>
    <li><a href="{{site.baseurl}}/about.html" class="waves-effect"><i class="material-icons">face</i>About</a></li>
  </ul>
  </div>
</nav>
