<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <header></header>
  <main>
    <div class="row">

      <!-- Left Col on Medium screen-->
      <div class="col m2 hide-on-small-and-down fixed full-height header">
        <div class="left-col-wrapper">
          <div>
            <h1 class="name-header-left">Michael<span style = "display: block;">Vaiana</span></h1>
          </div>
          <div class="main-tags">
              <p> Mathematics</p>
              <p> Neuro Quant </p>
              <p> Data Science </p>
          </div>
        </div>
        <div class="full-height links">
          <ul id="slide-out" class="side-nav vblue-text">
            <li><a href="{{site.baseurl}}/" class="waves-effect"><i class="material-icons" >weekend</i>Blog</a></li>
            <li><a href="{{site.baseurl}}/about.html" class="waves-effect"><i class="material-icons">face</i>About</a></li>
          </ul>
        </div>
      </div>

      <!-- Top Header on small screen-->
      <div class="hide-on-med-and-up center header">
        <h1>Michael<span style = "display: block;">Vaiana</span></h1>
        <div class="main-tags">
          <p>Mathematics | Neuro Quant | Data Science</p>
        </div>

        <div class="links">
          <ul id="slide-out" class="side-nav">
            <li><a href="#!" class="waves-effect">Blog</a></li>
            <li><a href="{{site.baseurl}}/about.html" class="waves-effect">About</a></li>
          </ul>
        </div>
      </div>

    <!-- Main Content -->
    <div class="col s12 m6 offset-m3">
      <div class="content-wrapper">
        {{content}}
      </div>
    </div>
  </div>
 </main>
  <footer></footer>
  {% include scripts.html %}<!-- ending scripts -->
</body>
</html>
