---
layout: default
comments: true
---
<!-- Title -->
<h1 class="post-title">{{page.title}}</h1>
{% if page.subtitle %}
  <h2 class="post-subtitle">{{page.subtitle}}</h2>
{% endif %}
<h6 class="post-date ">
  <info datetime="{{ page.date }}">
        Posted {% if page.author %} by {{page.author}} {% endif %} on {{ page.date | date: "%B %-d, %Y"}}
  </info>
</h6>

<!-- Tags -->
{% for tag in page.tags %}
  {% capture tag_name %}{{ tag }}{% endcapture %}
  <a href="/tag/{{ tag_name | replace: " ","-"}}"><code class="highligher-rouge"><nobr>
    {{tag_name}}{%- if forloop.last != true -%},{%- endif -%}
    </nobr></code>&nbsp;</a>
{% endfor %}

<!-- Content -->
<div class="post-content">
{{content}}
</div>

<!-- Comments -->
<div class="disqus">
  {% include disqus.html %}
</div>
